# Firebase
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=
EXPO_PUBLIC_FIREBASE_PROJECT_ID=
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
EXPO_PUBLIC_FIREBASE_APP_ID=

# Kakao
KAKAO_APP_KEY=
KAKAO_REST_API_KEY=

# KakaoPay
KAKAOPAY_CID=
KAKAOPAY_SECRET_KEY=

# App
APP_ENV=development
SERVER_URL=
