# Firebase
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=

# Kakao
KAKAO_APP_KEY=
KAKAO_REST_API_KEY=

# KakaoPay
KAKAOPAY_CID=
KAKAOPAY_SECRET_KEY=

# App
APP_ENV=development
SERVER_URL=
